<div class="row">
    <div class="col-lg-12">
        <div class="btn btn-md btn-success pull-right" style="margin-top: 30px;" ng-click="clearHistory()">Clear History</div>
        <h1 class="page-header">Cockpit</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">

    <div class="col-lg-12">
        <div class="panel panel-default" ng-repeat="session in dataSessions">
            <div class="panel-heading">
                Session {{$index}}
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="flot-chart">
                    <div class="flot-chart-content">
                        <linechart data="session" options="options" width="800" height="400"></linechart>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.panel -->
    </div>
</div>
